 <div class="contenedor">

    <h2 >Super hero</h2>
    <form action=""  (submit)="edit ? updateHero() : submitHero()" >
<div>
    <mat-form-field class="input" >
        <input matInput  type="text" placeholder="Ingrese Nombre"  [(ngModel)]="hero.name" name="name">
      </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input" >
      <input matInput  type="text" placeholder="Ingrese descripción" [(ngModel)]="hero.description" name="description">
    </mat-form-field>
</div>
<div>
    <mat-form-field class="input" >
        <input matInput  type="text" placeholder="Ingrese Url" [(ngModel)]="hero.image" name="image">
    </mat-form-field>
</div>
 <div>
    <button class="input"  mat-raised-button color="primary">{{edit ? 'Actualizar' : 'Agregar'}}</button>
</div>

</form>
  </div>



  
