<button mat-button color="primary" routerLink="/heroes/create">Primary</button>

<table mat-table [dataSource]="heroes" class="mat-elevation-z8" #tabla1>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let hero"> {{hero.name}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> descripcion</th>
      <td mat-cell *matCellDef="let hero"> {{hero.description}} </td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> image </th>
      <td mat-cell *matCellDef="let hero"> <img class="imagen" [src]="hero.image" alt="">  </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let hero">  <button mat-stroked-button color="primary" (click)="removeHero(hero._id)"> Eliminar</button> </td>
    </ng-container>

    <ng-container matColumnDef="actualizar">
        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
        <td mat-cell *matCellDef="let hero">  <button mat-stroked-button color="primary" [routerLink]="['heros/edit/',hero._id]"> Actulizar </button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

  </table>


